{% extends 'biens/base.html' %}
{% block title %}Détails du bien{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>{{ bien.titre }}</h2>
    <p><strong>Description :</strong> {{ bien.description }}</p>
    <p><strong>Adresse :</strong> {{ bien.adresse }}</p>
    <p><strong>Surface :</strong> {{ bien.surface }} m²</p>
    <p><strong>Prix :</strong> {{ bien.prix }} DH</p>
    <p><strong>Statut :</strong> {{ bien.get_statut_display }}</p>
    <p><strong>Type :</strong> {{ bien.type }}</p>
    {% if bien.image %}
        <img src="{{ bien.image.url }}" width="400" class="img-thumbnail mt-3">
    {% endif %}
    <div class="mt-3">
        <a href="{% url 'modifier_bien' bien.pk %}" class="btn btn-warning">Modifier</a>
        <a href="{% url 'list_biens' %}" class="btn btn-secondary">Retour</a>
    </div>
</div>
{% endblock %}
